<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Commander</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5 ml-5" th:fragment="commands">
    <h2 class="text-center">Commander</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/submitCommand}" th:object="${commande}" method="post" th:method="post">


                <div class="form-group mb-3">
                    <label for="dateCommande">Date de Commande</label>
                    <input th:type="date" class="form-control" id="dateCommande" name="dateCommande" required>
                </div>
                <div class="mb-3 form-group">
                    <label for="fournisseur" class="form-label">Fournisseur</label>

                    <select class="form-control" id="fournisseur" name="fournisseur" required>
                        <option th:each="f : ${suppliers}" th:value="${f.id}" th:text="${f.nom}"></option>
                    </select>
<!--                    <label for="article" class="form-label">Articles</label>-->
<!--                    <select class="form-control" id="article" name="article" th:field="${articles}">-->
<!--                        <option th:each="a : ${articles}" th:value="${a.id}" th:text="${a.nom}"></option>-->
<!--                    </select>-->


                </div>

                <button type="submit" class="btn btn-primary">Soumettre</button>

            </form>
            <form action="#" th:action="@{/addArticle}" th:object="${article}" method="post" th:method="post">
                <div class="mb-3 form-group">
                    <label class="form-label">Liste articles à commander</label>
                    <!---->
                    <input type="text"  class="form-control mb-2" id="nom" name="nom" placeholder="Nom article">
                    <input type="number"  class="form-control mb-2" id="quantite" name="quantite" placeholder="Quantité">
                </div>

                <button type="submit" class="btn btn-primary mb-3" id="ajouter">Ajouter</button>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article : ${articles}">
                    <td th:text="${article.nom}">Produit</td>
                    <td th:text="${article.quantite}">Quantité</td>

                    <td><button class="btn btn-warning"
                              >
                        Modifier
                    </button>
                        <button class="btn btn-danger" th:onclick="|deleteProduct(${article.id})|">Supprimer</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>
